img{
    display: flex;
    /*justify-content: center ;*/
    align-items: center;
    height: 400px;
    width: 550px;
    padding-left: 400px;

}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center ;
   
}